.container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px -2px #0000001c;
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
}

.title{
    border-bottom: none;
    text-align: center;
    width: 500px;
    color: whitesmoke;
    background-color: chocolate;
    border-radius: 1rem 1rem 0 0;
}

.title h2{
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: 100;
}

.table{
    width: 500px;
    line-height: 25px;
    padding: 1.5rem;
    text-align: left;
    border-spacing: 20px 10px!important;
}


.space{
    text-align: left;
}

.under{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 500;
    color: chocolate;
}

.btnCat{
    padding: 0.4rem 0.3rem;
    background-color: rgb(245, 245, 245);   
    text-align: center;
    border-radius: 1rem;
    color: chocolate;
    font-weight: 600;
    transition: 0.8s;
    padding-left: 0;
}

.btnCat:hover{
    background-color: rgb(219, 219, 219);;
    cursor: pointer;
}

td:first-child{
    padding-left: 0;
}

td{
    padding-left: 0.5rem;
}